@{
    ViewBag.Title = "FullCalendar";
    Layout = null;
}

<link href='http://fullcalendar.io/js/fullcalendar-scheduler-1.0.1/lib/fullcalendar.min.css' rel='stylesheet' />
<link href='http://fullcalendar.io/js/fullcalendar-scheduler-1.0.1/lib/fullcalendar.print.css' rel='stylesheet' media='print' />
<link href='http://fullcalendar.io/js/fullcalendar-scheduler-1.0.1/scheduler.min.css' rel='stylesheet' />
<script src='http://fullcalendar.io/js/fullcalendar-scheduler-1.0.1/lib/moment.min.js'></script>
<script src='http://fullcalendar.io/js/fullcalendar-scheduler-1.0.1/lib/jquery.min.js'></script>
<script src='http://fullcalendar.io/js/fullcalendar-scheduler-1.0.1/lib/jquery-ui.min.js'></script>
<script src='http://fullcalendar.io/js/fullcalendar-scheduler-1.0.1/lib/fullcalendar.min.js'></script>
<script src='http://fullcalendar.io/js/fullcalendar-scheduler-1.0.1/scheduler.min.js'></script>
<script src='~/fullcalendar-2.4.0/lang-all.js'></script>




<body>
    <div id='wrap'>
        <div id='top'>
            Language:
            <select id='lang-selector'></select>
        </div>


        <div id='external-events' 
             data-externalurl=@Url.Action("GetEvents", "FullCalendar")>
        </div>

        <div id='calendar'
             data-fullcalendar
             data-eventsurl=@Url.Action("GetEvents", "FullCalendar")
             data-resourcesurl=@Url.Action("GetResources","FullCalendar")
             data-updateurl=@Url.Action("PostEvents","FullCalendar")>
        </div>

        <div style='clear:both'></div>

    </div>
</body>



<script>
    

    $(function () {
        /* initialize the external events form object or json
		-----------------------------------------------------------------*/

        $.getJSON($("#external-events").data("externalurl"), function (result) {
            renderDraggable(result);
        });

        function renderDraggable(eventsObj) {

            eventsObj.forEach(function (item)
            {
                if (item.title == null) { return; }

                //生成Draggable html
                $('#external-events').prepend("<div class='fc-event'>" + item.title + "</div>");

                // store data so the calendar knows to render an event upon drop
                $('#external-events .fc-event').first().data('event', item);

                // make the event draggable using jQuery UI
                $('#external-events .fc-event').first().draggable({
                    zIndex: 999,
                    revert: true,      // will cause the event to go back to its
                    revertDuration: 0  //  original position after the drag
                });
            })
        }
    })

    $(function () { // document ready
        var currentLangCode = 'zh-tw';

        // build the language selector's options
        $.each($.fullCalendar.langs, function (langCode) {
            $('#lang-selector').append(
				$('<option/>')
					.attr('value', langCode)
					.prop('selected', langCode == currentLangCode)
					.text(langCode)
			);
        });

        // rerender the calendar when the selected option changes
        $('#lang-selector').on('change', function () {
            if (this.value) {
                currentLangCode = this.value;
                $('#calendar').fullCalendar('destroy');
                renderCalendar();
            }
        });

        

        /* initialize the calendar
		-----------------------------------------------------------------*/
        var Calendar = $("[data-fullcalendar]");
        
        function renderCalendar() {
            Calendar.fullCalendar({
                lang: currentLangCode,
                schedulerLicenseKey: 'GPL-My-Project-Is-Open-Source',
                now: '2015-08-07',
                editable: true, // enable draggable events
                droppable: true, // this allows things to be dropped onto the calendar
                aspectRatio: 1.8,
                scrollTime: '00:00', // undo default 6am scrollTime
                header: {
                    left: 'today prev,next',
                    center: 'title',
                },
                defaultView: 'timelineMonth',
                eventOverlap: false, // will cause the event to take up entire resource height
                resourceLabelText: 'Project',
                resources: Calendar.data("resourcesurl"),//"/FullCalendar/GetResources",

                eventDrop: function (event, delta, revertFunc) {

                    alert(event.title + " was dropped on " + event.start.format());

                    if (!confirm("Are you sure about this change?")) {
                        revertFunc();
                    }

                },

                events: Calendar.data("eventsurl"),
                drop: function () {
                    // is the "remove after drop" checkbox checked?
                    if ($('#drop-remove').is(':checked')) {
                        // if so, remove the element from the "Draggable Events" list
                        $(this).remove();
                    }
                },
                eventReceive: function (event) { // called when a proper external event is dropped
                    console.log('eventReceive', event);
                },
                eventDrop: function (event) { // called when an event (already on the calendar) is moved
                    console.log('eventDrop', event);
                }
            });
        }

        renderCalendar();
    });

    // post events
    function UpdateEvents() {

        var clientEvents = $("[data-fullcalendar]").fullCalendar('clientEvents');
        var jsonString = JSON.stringify(clientEvents);

        jQuery.ajax({
            type: "POST",
            url: $("[data-fullcalendar]").data("updateurl"),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: jsonString,
            success: function (data) { alert(data); },
            failure: function (errMsg) { alert(errMsg); }
        });
    }
    

</script>
<style>

    #wrap {
        width: 1100px;
        margin: 0 auto;
    }

    #external-events {
        float: left;
        width: 150px;
        padding: 0 10px;
        border: 1px solid #ccc;
        background: #eee;
        text-align: left;
    }

    #external-events h4 {
        font-size: 16px;
        margin-top: 0;
        padding-top: 1em;
    }

    #external-events .fc-event {
        margin: 10px 0;
        cursor: pointer;
    }

    #external-events p {
        margin: 1.5em 0;
        font-size: 11px;
        color: #666;
    }

    #external-events p input {
        margin: 0;
        vertical-align: middle;
    }

    #calendar {
        float: right;
        width: 900px;
    }

	body {
		margin: 0;
		padding: 0;
		font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
		font-size: 14px;
	}

	#top {
		background: #eee;
		border-bottom: 1px solid #ddd;
		padding: 0 10px;
		line-height: 40px;
		font-size: 12px;
	}

</style>

